<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="date.pm25.mapper.AqiChinaMapper" >
    <resultMap id="BaseResultMap" type="date.pm25.model.AqiChina" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="query_id" property="queryId" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR" />
        <result column="d1" property="d1" jdbcType="INTEGER" />
        <result column="time_point" property="timePoint" jdbcType="TIMESTAMP" />
        <result column="aqi" property="aqi" jdbcType="INTEGER" />
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="station_code" property="stationCode" jdbcType="VARCHAR"/>
        <result column="ozone" property="ozone" jdbcType="INTEGER"/>
        <result column="pm25" property="pm25" jdbcType="INTEGER"/>
        <result column="pm10" property="pm10" jdbcType="INTEGER"/>
        <result column="sulfur_dioxide" property="sulfurDioxide" jdbcType="INTEGER"/>
        <result column="nitrogen_dioxide" property="nitrogenDioxide" jdbcType="INTEGER"/>
        <result column="carbonic_oxide" property="carbonicOxide" jdbcType="DECIMAL" />
        <result column="primary_pollutants" property="primaryPollutants" jdbcType="VARCHAR"/>
        <result column="air_quality" property="airQuality" jdbcType="VARCHAR"/>
        <result column="updatedtime" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="createdtime" property="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="base_column_list">
        id, query_id, area, d1, time_point, aqi, position_name, station_code, ozone, pm25, pm10, sulfur_dioxide, nitrogen_dioxide,carbonic_oxide, primary_pollutants, air_quality, updatedtime, createdtime
    </sql>
    <select id="selectByQueryId" resultType="date.pm25.model.AqiChina" parameterType="String">
        SELECT
        <include refid="base_column_list"/>
        FROM TB_AQI_CHINA
        WHERE query_id = #{queryId, jdbcType=VARCHAR}
    </select>

</mapper>